.layoutContainer {
  width: 100vw; /* 뷰포트 너비 꽉 채움 */
  height: 100vh; /* 뷰포트 높이 꽉 채움 */

  /* 레이아웃 방식(예: flex) */
  display: flex;
  flex-direction: column;

  margin: 0 auto; /* 수평 중앙 정렬 */
  padding: 30px 50px; /* 내부 여백 */
}
