.progressBarContainer {
  margin: auto;
  width: 60%; /* 가로는 전체 차지 */
  height: 10px; /* px 단위로 고정 */
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5%; /* 간격은 %로 */
}

.progressFill {
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}
